.App {
  text-align: center;
}

.App-logo {
  pointer-events: none;
  filter: invert(100%);
}


.App-header {
  background-color: #157453;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
